numpy==1.14.5
pandas==0.24.2
scipy==1.1.0
scikit-learn==0.19.1
scikit-image==0.13.1

# Deep learning framework
torch==1.0.1
torchvision==0.2.1

# Experiment tracking
comet_ml

# Pretrained Vision Transformer model
pytorch_pretrained_vit

# Utilities
PyYAML==3.12
opencv-python
matplotlib==3.0.3
h5py==2.8.0